
body{
    background: azure;
    background-size: 100%;
    text-align: center;
}
.form {
    position: absolute;
    right: 45%;
    background: gray;
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    border-color: black;
    width: 10%;
}
header{

    font-size: 30px;
    right: 50%;
    color: black;
}
footer{
    position: absolute;
    right: 45%;
    top: 90%;
    background: gray;
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    border-color: black;
    width: 150px;
    height: 30px;
    color: white;
    text-align: center;
    font-size: 20px;
}
a:visited {
    color: black;
}

