
body{
    background: azure;
    /*background-image: url(https://phonoteka.org/uploads/posts/2021-04/1618463046_3-phonoteka_org-p-fon-zheleznaya-doroga-3.jpg);*/
    background-size: 100%;
    text-align: center;
}
.form {
    position: absolute;
    right: 45%;
    background: gray;
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    border-color: black;
    width: 10%;
}
header{

    font-size: 30px;
    right: 50%;
    color: black;
}
footer{
    position: absolute;
    right: 45%;
    top: 90%;
    background: gray;
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    border-color: black;
    width: 150px;
    height: 30px;
    color: white;
    text-align: center;
    font-size: 20px;
    /*background-image: url(https://im0-tub-ru.yandex.net/i?id=3e240e71e7722d45042cbbf145da3c62&ref=rim&n=33&w=225&h=150);*/
}
a:visited {
    color: black;
}

