.header{
    color: blue;
    text-align: center;
    font-size: 250%;
    align: center;
}
.test{
    color: black;
    text-align: center;
    margin: 10px auto;
}
table{
    color: azure;
    text-align: center;
    font-size: 50px;
}

.add{
    /*background-image: url(https://phonoteka.org/uploads/posts/2021-05/1621391011_2-phonoteka_org-p-fon-rzhd-2.jpg);*/
}
.form{
    /*background: url(https://phonoteka.org/uploads/posts/2021-05/1621391011_2-phonoteka_org-p-fon-rzhd-2.jpg);*/
    background-position-x: 10px;
    background-position-y: 10px;
    background-repeat: no-repeat;
    border-style: solid;
    border-radius: 50px;
    border-width: 5px;
    border-color: black;
    width: 500px;
    height: 350px;
    position: fixed; top: 10px; left: 10px;
}
.main{
    position: fixed; top: 700px; left:1000px;
    font-size: 100px;
    background: wheat;
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    border-color: black;
}
.hr-vertical-gradient {

    margin: 20px 0;

    padding: 0;

    height: 10px;

    border: none;

    background: linear-gradient(180deg, white, black);

}

